In [7]:
import csv
l=[]
with open ("C:\\ML and AI\\MMT.csv",encoding="latin-1") as csvfile:
    spamreader=csv.reader(csvfile,delimiter=",",quotechar='"')
    for row in spamreader:
        l.append(row)

In [85]:
idlis1=[]
idlis2=[]
lis=[0,0,0,0,0,0,0,0,0,0]
dic={}
for i in range(1,len(l),1):
    if ((l[i][32] not in idlis1) and (l[i][20] not in idlis2)):
        try:
            x=float(l[i][16])
        except:
            x=0
        try:
            y=float(l[i][18])
        except:
            y=0
        idlis1.append(l[i][32])
        idlis2.append(l[i][20])
        if(lis[0]<x*y):
            lis[0]=x*y
            lis.sort()
            dic[x*y]=[l[i][22],l[i][20],l[i][0],l[i][1]]

In [86]:
lis.reverse()
for i in range(10):
    print("Rank = ",i+1)
    print("Name = ",dic[lis[i]])
    print("\n")

Rank =  1
Name =  ['The Taj Mahal Palace', 'Apollo Bunder, Near Gateway Of India, , Colaba', 'South Mumbai,Colaba', 'Mumbai']


Rank =  2
Name =  ['Radisson Blu Agra Taj East Gate', 'Taj East Gate Road , 01 km from Taj Mahal', 'East Gate Road,Fatehabad Road,East Agra', 'WeekendGetawaysAroundDelhi']


Rank =  3
Name =  ['The Oberoi Amarvilas', 'Taj East Gate Road 0.6 km from Taj Mahal', 'The Agra Fort', 'Agra']


Rank =  4
Name =  ['Trident Udaipur', 'Haridasji Ki Magri, Mulla Talai', 'Mulla Talai', 'Udaipur']


Rank =  5
Name =  ['ITC Rajputana - A Luxury Collection Hotel', 'Palace Road ,', 'Station Road', 'Jaipur']


Rank =  6
Name =  ['Trident Nariman Point', 'Nariman Point , Nariman Point', 'South Mumbai,Nariman Point', 'Mumbai']


Rank =  7
Name =  ['Umaid Bhawan', 'D1-2a, Behind Collectorate, (via) Bank Road, Bani Park Banipark', 'Bani Park', 'Jaipur']


Rank =  8
Name =  ['ITC Maurya- A Luxury Collection Hotel', 'Diplomatic Enclave , Sardar Patel Marg', 'South Delhi,Dhaula Kuan', 'NewDelhiAndNCR']


Rank =  9
Name =  ['Sofitel Mumbai - BKC', 'C-57, Bandra Kurla Complex,Bandra East', 'Bandra Kurla Complex', 'Mumbai']


Rank =  10
Name =  ['Park Hyatt Goa Resort and Spa', 'Arossim Beach, Cansaulim,South Goa , Cansaulim,South Goa', 'South Goa,Arossim Beach', 'Goa']