In [1]:
## Class4

In [2]:
import json

In [3]:
file1 = open("C:\\Users\Aman\\Desktop\\New folder\\file1.json","r")

In [4]:
a1 =file1.read()
d1 = json.loads(a1)

In [45]:
d1[0]["restaurants"][0]["restaurant"]["user_rating"]["aggregate_rating"]

'3.3'

In [60]:
ar =float(d1[0]["restaurants"][0]["restaurant"]["user_rating"]["aggregate_rating"])

In [61]:
v= float(d1[0]["restaurants"][0]["restaurant"]["user_rating"]["votes"] )

In [62]:
print(ar*v)

85.8

In [67]:
n = d1[0]["restaurants"][0]["restaurant"]["name"]
n

'Arigato Sushi'

In [68]:
for j in range (len(d1)):
    # print "j=",j
    if("restaurants" in d1[j]):
        for i in range (0,len(d1[j]["restaurants"])):
            art= float(d1[0]["restaurants"][0]["restaurant"]["user_rating"]["aggregate_rating"])
            vt = float(d1[0]["restaurants"][0]["restaurant"]["user_rating"]["votes"] )
            nt = d1[j]["restaurants"][i]["restaurant"]["name"]
        #print      i=",i
        if (v*ar)<(vt*art):
            n = nt
            v = vt
            ar = art

In [70]:
print(n,ar ,v)

Arigato Sushi 3.3 26.0

In [74]:
len(d1[0])

4

In [58]:
file2 = open("C:\\Users\Aman\\Desktop\\New folder\\file1.json","r")

In [9]:
a2 =file2.read()
d2 = json.loads(a2)

In [42]:
d2[0]["restaurants"][0][""]

SyntaxError: invalid syntax (<ipython-input-42-75fe66ecb323>, line 1)

In [17]:
file3 = open("C:\\Users\Aman\\Desktop\\New folder\\file2.json","r")

In [18]:
a3 =file3.read()
d3 = json.loads(a3)

In [19]:
d3[0]["restaurants"][0]

{'restaurant': {'R': {'res_id': 16668008},
  'apikey': '10a35f36f5898432823df42bc743c8aa',
  'average_cost_for_two': 25,
  'cuisines': 'Asian',
  'currency': '$',
  'deeplink': 'zomato://restaurant/16668008',
  'establishment_types': [],
  'events_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
  'featured_image': '',
  'has_online_delivery': 0,
  'has_table_booking': 0,
  'id': '16668008',
  'is_delivering_now': 0,
  'location': {'address': '14 Second Ave North, Yorkton, SK S3N 1G1',
   'city': 'Yorkton',
   'city_id': 3600,
   'country_id': 37,
   'latitude': '51.2106824000',
   'locality': 'Yorkton',
   'locality_verbose': 'Yorkton, Yorkton',
   'longitude': '-102.4613173000',
   'zipcode': 'S3N 1G1'},
  'menu_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
  'name': 'Arigato Sushi',
  'offers': [],
  'photos_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
  'price_range': 2,
  'switch_to_order_menu': 0,
  'thumb': '',
  'url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
  'user_rating': {'aggregate_rating': '3.3',
   'rating_color': 'CDD614',
   'rating_text': 'Average',
   'votes': '26'}}}

In [20]:
file4 = open("C:\\Users\Aman\\Desktop\\New folder\\file2.json","r")

In [21]:
a4 =file4.read()
d4 = json.loads(a4)

In [22]:
d4[0]["restaurants"][0]

{'restaurant': {'R': {'res_id': 16668008},
  'apikey': '10a35f36f5898432823df42bc743c8aa',
  'average_cost_for_two': 25,
  'cuisines': 'Asian',
  'currency': '$',
  'deeplink': 'zomato://restaurant/16668008',
  'establishment_types': [],
  'events_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
  'featured_image': '',
  'has_online_delivery': 0,
  'has_table_booking': 0,
  'id': '16668008',
  'is_delivering_now': 0,
  'location': {'address': '14 Second Ave North, Yorkton, SK S3N 1G1',
   'city': 'Yorkton',
   'city_id': 3600,
   'country_id': 37,
   'latitude': '51.2106824000',
   'locality': 'Yorkton',
   'locality_verbose': 'Yorkton, Yorkton',
   'longitude': '-102.4613173000',
   'zipcode': 'S3N 1G1'},
  'menu_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
  'name': 'Arigato Sushi',
  'offers': [],
  'photos_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
  'price_range': 2,
  'switch_to_order_menu': 0,
  'thumb': '',
  'url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
  'user_rating': {'aggregate_rating': '3.3',
   'rating_color': 'CDD614',
   'rating_text': 'Average',
   'votes': '26'}}}

In [23]:
file5 = open("C:\\Users\Aman\\Desktop\\New folder\\file2.json","r")

In [24]:
a5 =file5.read()
d5 = json.loads(a5)

In [25]:
d5[0]["restaurants"][0]

{'restaurant': {'R': {'res_id': 16668008},
  'apikey': '10a35f36f5898432823df42bc743c8aa',
  'average_cost_for_two': 25,
  'cuisines': 'Asian',
  'currency': '$',
  'deeplink': 'zomato://restaurant/16668008',
  'establishment_types': [],
  'events_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
  'featured_image': '',
  'has_online_delivery': 0,
  'has_table_booking': 0,
  'id': '16668008',
  'is_delivering_now': 0,
  'location': {'address': '14 Second Ave North, Yorkton, SK S3N 1G1',
   'city': 'Yorkton',
   'city_id': 3600,
   'country_id': 37,
   'latitude': '51.2106824000',
   'locality': 'Yorkton',
   'locality_verbose': 'Yorkton, Yorkton',
   'longitude': '-102.4613173000',
   'zipcode': 'S3N 1G1'},
  'menu_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
  'name': 'Arigato Sushi',
  'offers': [],
  'photos_url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
  'price_range': 2,
  'switch_to_order_menu': 0,
  'thumb': '',
  'url': 'https://www.zomato.com/yorkton-sk/arigato-sushi-yorkton?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
  'user_rating': {'aggregate_rating': '3.3',
   'rating_color': 'CDD614',
   'rating_text': 'Average',
   'votes': '26'}}}

In [87]:
file =[d1,d2,d3,d4,d5]

In [104]:
l =[]
s =[]

In [105]:
for m in file:
    for i in range(len(m)):
        if("restaurants" in m[i]):
            for j in range(0,len(m[i]["restaurants"])):
                art= float(d1[0]["restaurants"][0]["restaurant"]["user_rating"]["aggregate_rating"])
                vt = float(d1[0]["restaurants"][0]["restaurant"]["user_rating"]["votes"] )
                nt = m[i]["restaurants"][0]["restaurant"]["name"]
        s.append(nt)
        l.append(art*vt)

In [106]:
import numpy as np

In [107]:
l = np.array(l)

In [108]:
l = np.argsort(l)

In [109]:
for i in range(5):
    print(s[l[i]])

Arigato Sushi
Arigato Sushi
Arigato Sushi
Arigato Sushi
Arigato Sushi

In [102]:
l.tolist()

[0,
 1828,
 1829,
 1830,
 1831,
 1832,
 1833,
 1834,
 1835,
 1836,
 1837,
 1838,
 1839,
 1840,
 1841,
 1842,
 1843,
 1844,
 1827,
 1845,
 1826,
 1824,
 1807,
 1808,
 1809,
 1810,
 1811,
 1812,
 1813,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1825,
 1846,
 1847,
 1848,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1870,
 1869,
 1868,
 1867,
 1849,
 1850,
 1851,
 1852,
 1853,
 1854,
 1855,
 1856,
 1806,
 1857,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1858,
 1805,
 1804,
 1803,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1742,
 1741,
 1740,
 1739,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1760,
 1729,
 1731,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1730,
 1888,
 1761,
 1763,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1800,
 1801,
 1802,
 1785,
 1784,
 1783,
 1782,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1771,
 1762,
 1772,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1773,
 1889,
 1890,
 1891,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 1999,
 1998,
 1997,
 1996,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 2017,
 1986,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1987,
 1977,
 2018,
 2020,
 2043,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2053,
 2054,
 2055,
 2056,
 2057,
 2058,
 2059,
 2042,
 2041,
 2040,
 2039,
 2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2019,
 2029,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2030,
 1720,
 1976,
 1974,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1913,
 1912,
 1911,
 1910,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1931,
 1900,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1901,
 1975,
 1932,
 1934,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1956,
 1955,
 1954,
 1953,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1933,
 1943,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1944,
 1719,
 1718,
 1717,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1484,
 1483,
 1482,
 1481,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1502,
 1471,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1472,
 1462,
 1503,
 1505,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1544,
 1527,
 1526,
 1525,
 1524,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1504,
 1514,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1515,
 1545,
 1461,
 1459,
 1399,
 1400,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1413,
 1414,
 1415,
 1398,
 1397,
 1396,
 1395,
 1377,
 1378,
 1379,
 1380,
 1381,
 1382,
 1383,
 1384,
 1416,
 1385,
 1387,
 1388,
 1389,
 1390,
 1391,
 1392,
 1393,
 1394,
 1386,
 1460,
 1417,
 1419,
 1442,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1441,
 1440,
 1439,
 1438,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1418,
 1428,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1429,
 2060,
 1546,
 1548,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1656,
 1655,
 1654,
 1653,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1674,
 1643,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1644,
 1634,
 1675,
 1677,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1699,
 1698,
 1697,
 1696,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1676,
 1686,
 1688,
 1689,
 1690,
 1691,
 1692,
 1693,
 1694,
 1695,
 1687,
 1547,
 1633,
 1631,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586,
 1587,
 1570,
 1569,
 1568,
 1567,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1588,
 1557,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1558,
 1632,
 1589,
 1591,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1613,
 1612,
 1611,
 1610,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1590,
 1600,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1601,
 2061,
 2062,
 2063,
 2516,
 2517,
 2518,
 2519,
 2520,
 2521,
 2522,
 2523,
 2524,
 2525,
 2526,
 2527,
 2528,
 2529,
 2530,
 2531,
 2532,
 2515,
 2514,
 2513,
 2512,
 2494,
 2495,
 2496,
 2497,
 2498,
 2499,
 2500,
 2501,
 2533,
 2502,
 2504,
 2505,
 2506,
 2507,
 2508,
 2509,
 2510,
 2511,
 2503,
 2493,
 2534,
 2536,
 2559,
 2560,
 2561,
 2562,
 2563,
 2564,
 2565,
 2566,
 2567,
 2568,
 2569,
 2570,
 2571,
 2572,
 2573,
 2574,
 2575,
 2558,
 2557,
 2556,
 2555,
 2537,
 2538,
 2539,
 2540,
 2541,
 2542,
 2543,
 2544,
 2535,
 2545,
 2547,
 2548,
 2549,
 2550,
 2551,
 2552,
 2553,
 2554,
 2546,
 2576,
 2492,
 2490,
 2430,
 2431,
 2432,
 2433,
 2434,
 2435,
 2436,
 2437,
 2438,
 2439,
 2440,
 2441,
 2442,
 2443,
 2444,
 2445,
 2446,
 2429,
 2428,
 2427,
 2426,
 2408,
 2409,
 2410,
 2411,
 2412,
 2413,
 2414,
 2415,
 2447,
 2416,
 2418,
 2419,
 2420,
 2421,
 2422,
 2423,
 2424,
 2425,
 2417,
 2491,
 2448,
 2450,
 2473,
 2474,
 2475,
 2476,
 2477,
 2478,
 2479,
 2480,
 2481,
 2482,
 2483,
 2484,
 2485,
 2486,
 2487,
 2488,
 2489,
 2472,
 2471,
 2470,
 2469,
 2451,
 2452,
 2453,
 2454,
 2455,
 2456,
 2457,
 2458,
 2449,
 2459,
 2461,
 2462,
 2463,
 2464,
 2465,
 2466,
 2467,
 2468,
 2460,
 2407,
 2577,
 2579,
 2688,
 2689,
 2690,
 2691,
 2692,
 2693,
 2694,
 2695,
 2696,
 2697,
 2698,
 2699,
 2700,
 2701,
 2702,
 2703,
 2704,
 2687,
 2686,
 2685,
 2684,
 2666,
 2667,
 2668,
 2669,
 2670,
 2671,
 2672,
 2673,
 2705,
 2674,
 2676,
 2677,
 2678,
 2679,
 2680,
 2681,
 2682,
 2683,
 2675,
 2665,
 2706,
 2708,
 2731,
 2732,
 2733,
 2734,
 2735,
 2736,
 2737,
 2738,
 2739,
 2740,
 2741,
 2742,
 2743,
 2744,
 2745,
 2746,
 2747,
 2730,
 2729,
 2728,
 2727,
 2709,
 2710,
 2711,
 2712,
 2713,
 2714,
 2715,
 2716,
 2707,
 2717,
 2719,
 2720,
 2721,
 2722,
 2723,
 2724,
 2725,
 2726,
 2718,
 2578,
 2664,
 2662,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2615,
 2616,
 2617,
 2618,
 2601,
 2600,
 2599,
 2598,
 2580,
 2581,
 2582,
 2583,
 2584,
 2585,
 2586,
 2587,
 2619,
 2588,
 2590,
 2591,
 2592,
 2593,
 2594,
 2595,
 2596,
 2597,
 2589,
 2663,
 2620,
 2622,
 2645,
 2646,
 2647,
 2648,
 2649,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 ...]