In [1]:
pwd

u'C:\\Users\\1\\ML_Summer_Training'

In [2]:
a=5

In [3]:
print a

5

In [4]:
a="divyanshu"

In [5]:
print a

divyanshu

In [6]:
print (a*2)

divyanshudivyanshu

In [7]:
print a*2

divyanshudivyanshu

In [8]:
b=a*2
print b*2

divyanshudivyanshudivyanshudivyanshu

In [9]:
a[1]

'i'

In [10]:
print a[1]

i

In [11]:
len(a)

9

In [12]:
a.upper()

'DIVYANSHU'

In [13]:
print a.upper()

DIVYANSHU

In [14]:
b=[1,"st",2.3,3,'abc']

In [15]:
print b

[1, 'st', 2.3, 3, 'abc']

In [16]:
b.append("xyz")

In [17]:
b

[1, 'st', 2.3, 3, 'abc', 'xyz']

In [18]:
b.extend([4,"st"])

In [19]:
b

[1, 'st', 2.3, 3, 'abc', 'xyz', 4, 'st']

In [20]:
c=(1,"str",3.5,4)

In [21]:
c

(1, 'str', 3.5, 4)

In [42]:
c.append(6)

AttributeError: 'tuple' object has no attribute 'append'

Tuples are immutable so we cannot make any change after tuple is made thatswhy append is not working

In [23]:
d={1:'str',"ab":234}

In [24]:
d

{1: 'str', 'ab': 234}

In [25]:
d={1:'str',"ab":234,1:'str2'}

In [26]:
d

{1: 'str2', 'ab': 234}

In [27]:
d={3:'str',"ab":234,1:"str3"}

In [28]:
d

{1: 'str3', 3: 'str', 'ab': 234}

In [29]:
d[1]

'str3'

In [30]:
d["ab"]

234

In [31]:
a='hello world'

In [32]:
a.split(" ")

['hello', 'world']

In [33]:
a.split("e")

['h', 'llo world']

Assignment 1

In [34]:
input="https://console.aws.amazon.com/console/home?param1=val1&param2=val2"

In [35]:
q=input.split("?")
q

['https://console.aws.amazon.com/console/home', 'param1=val1&param2=val2']

In [36]:
w=q[1].split("&")
p1=w[0].split("=")
p2=w[1].split("=")
w

['param1=val1', 'param2=val2']

In [37]:
d={p1[0]:p1[1],p2[0]:p2[1]}
d

{'param1': 'val1', 'param2': 'val2'}

In [38]:
d={}
len(w)

2

In [39]:
for i in range(0,len(w)):
    abc=w[i].split("=")
    d[abc[0]]=abc[1]

In [40]:
d

{'param1': 'val1', 'param2': 'val2'}

In [43]:
d.keys()

['param2', 'param1']

In [44]:
d.values()

['val2', 'val1']

In [45]:
a=(1,2,3)
b=[1,2,3]

In [46]:
b

[1, 2, 3]

In [47]:
del b[1]

In [48]:
b

[1, 3]

In [53]:
b.reverse()

In [54]:
b

[3, 1]

In [71]:
n=raw_input("enter")
n=int(n)

enter1

In [72]:
n

1

In [67]:
a=chr(97)
a

'a'

Assignment 2

In [68]:
a='Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell. Nor themselves age introduced frequently use unsatiable devonshire get. They why quit gay cold rose deal park. One same they four did ask busy. Reserved opinions fat him nay position. Breakfast as zealously incommode do agreeable furniture. One too nay led fanny allow plate.'

In [69]:
d={}

In [73]:
for i in range(26):
    d[chr(i+97)]=a.count(chr(i+97))

In [74]:
d

{'a': 33,
 'b': 7,
 'c': 4,
 'd': 17,
 'e': 55,
 'f': 13,
 'g': 8,
 'h': 11,
 'i': 19,
 'j': 0,
 'k': 4,
 'l': 17,
 'm': 5,
 'n': 24,
 'o': 24,
 'p': 6,
 'q': 2,
 'r': 21,
 's': 23,
 't': 24,
 'u': 15,
 'v': 5,
 'w': 4,
 'x': 1,
 'y': 11,
 'z': 1}

In [75]:
l=[1,2,3]

In [76]:
2 in l

True

In [77]:
d={"a":0,"b":2}

In [81]:
"a" in d.keys()

True

In [83]:
d={}
for i in a:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1

In [84]:
d

{' ': 72,
 '.': 10,
 'A': 1,
 'B': 1,
 'L': 1,
 'M': 1,
 'N': 1,
 'O': 2,
 'R': 1,
 'S': 1,
 'T': 1,
 'a': 33,
 'b': 7,
 'c': 4,
 'd': 17,
 'e': 55,
 'f': 13,
 'g': 8,
 'h': 11,
 'i': 19,
 'k': 4,
 'l': 17,
 'm': 5,
 'n': 24,
 'o': 24,
 'p': 6,
 'q': 2,
 'r': 21,
 's': 23,
 't': 24,
 'u': 15,
 'v': 5,
 'w': 4,
 'x': 1,
 'y': 11,
 'z': 1}

In [85]:
d={}
for i in a.lower():
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1

In [86]:
d

{' ': 72,
 '.': 10,
 'a': 34,
 'b': 8,
 'c': 4,
 'd': 17,
 'e': 55,
 'f': 13,
 'g': 8,
 'h': 11,
 'i': 19,
 'k': 4,
 'l': 18,
 'm': 6,
 'n': 25,
 'o': 26,
 'p': 6,
 'q': 2,
 'r': 22,
 's': 24,
 't': 25,
 'u': 15,
 'v': 5,
 'w': 4,
 'x': 1,
 'y': 11,
 'z': 1}

Assignment 3

In [110]:
d={'param1': 'val1', 'param2': 'val2'}

In [111]:
str=raw_input("Enter Parameter")

Enter Parameterparam1

In [112]:
if(str in d.keys()):
    print d[str]
else:
    print "Parameter not found"

val1

Assignment 4 :Intersection

In [115]:
v1=[1,23,45,67,1,24]
v2=[2,45,5,1,222,99]
s={}
ans=[]
for i in v1:
    for j in v2:
        if i==j:
            s.add(i)
s

AttributeError: 'dict' object has no attribute 'add'

Assignment 5

In [119]:
def f(input):
    d={}
    q=input.split("?")
    w=q[1].split("&")
    for i in range(0,len(w)):
        abc=w[i].split("=")
        d[abc[0]]=abc[1]
    return d

In [120]:
f("https://console.aws.amazon.com/console/home?param1=val1&param2=val2")

{'param1': 'val1', 'param2': 'val2'}

Assignment 6

In [132]:
def fibo(n):
    a=0
    b=1
    for i in range(n):
        print a
        c=a+b
        a=b
        b=c

In [133]:
fibo(3)

0
1
1

File Handing

In [150]:
file=open("C:\\Users\\1\\Desktop\\sample.txt","r")
file.readlines()

['Pianoforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause. \n',
 '\n',
 'On recommend tolerably my belonging or am.\n',
 'Mutual has cannot beauty indeed now sussex merely you.\n',
 'It possible no husbands jennings ye offended packages pleasant he.\n',
 'Remainder recommend engrossed who eat she defective applauded departure joy.\n',
 'Get dissimilar not introduced day her apartments.\n',
 'Fully as taste he mr do smile abode every. Luckily offered article led lasting country minutes nor old. Happen people things oh is oppose up parish effect. Law handsome old outweigh humoured far appetite. ']

In [177]:
file=open("C:\\Users\\1\\Desktop\\datafile.csv","r")

In [178]:
all_lines=file.readlines()

In [179]:
len(all_lines)

37

In [180]:
str=raw_input("Enter State")
for i in all_lines:
    a=i.split(",")
    if a[0]==str:
        print a[3]

Enter StateBihar
2482